<mat-card class="skeleton-card">
  <mat-card-header>
    <mat-card-title>
      <ngx-skeleton-loader count="1" [theme]="{ width: '150px'}"></ngx-skeleton-loader>
    </mat-card-title>
    <mat-card-subtitle>
      <ngx-skeleton-loader count="1" [theme]="{ width: '100px'}"></ngx-skeleton-loader>
    </mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image>
    <ngx-skeleton-loader mati count="1" [theme]="{ 'border-radius': '0', height: '200px', width: '300px'}">
    </ngx-skeleton-loader>
  </div>
  <mat-card-content>
    <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
  </mat-card-content>
</mat-card>
