<div class="recipe container" *ngIf="recipe">
  <div class="recipe-header">
    <h1>{{recipe.title}} <a (click)="toggleFavorite()">
        <mat-icon *ngIf="inFavorites" matTooltip="Remove Recipe from favorites" matTooltipPosition="after">star
        </mat-icon>
        <mat-icon *ngIf="!inFavorites" matTooltip="Add Recipe to favorites" matTooltipPosition="after">star_border
        </mat-icon>
      </a></h1>
  </div>


  <div class="recipe-image-mobile">
    <img [src]="recipe.image" class="recipe" />
  </div>

  <div class="time-servings">
    <div class="time">
      <div class="upper"> Cooking time:</div>
      <div class="lower">
        <h2>{{recipe.readyInMinutes}} min</h2>
      </div>
    </div>
    <div class="servings">
      <div class="upper"> Servings:</div>
      <div class="lower">
        <h2>{{recipe.servings}}</h2>
      </div>
    </div>

  </div>


  <mat-card class="example-card">
    <mat-card-content>
      <div class="recipe-instructions">
        <div class="ingredients">
          <h2>Ingredients</h2>
          <div class="ingredient" *ngFor="let ingredient of recipe.extendedIngredients">
            - {{ingredient.original}}
          </div>
        </div>
        <div class="instructions">
          <h2>Instructions</h2>
          <img [src]="recipe.image" />
          <p [innerHTML]="recipe.instructions"></p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="similar-recipes">
    <h2>Similar recipes</h2>
    <div class="card-grid">
      <div class="similar-recipe" *ngFor="let similarRecipe of similarRecipes">
        <mat-card>
          <mat-card-header>
            <mat-card-title><a [routerLink]="['/recipe', similarRecipe.id]">{{similarRecipe.title}}</a></mat-card-title>
            <mat-card-subtitle>Cooking time: {{similarRecipe.readyInMinutes}}min</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="recipe-loading container" *ngIf="!recipe">
    <mat-spinner></mat-spinner>
  </div>
