@import "../breakpoints.scss";

.recipe-search {
  justify-content: center;

  .recipe-logo {
    justify-self: center;
  }

  .search-autocomplete {
    justify-self: stretch;
    margin-bottom: 50px;

    margin-left: 30%;
    margin-right: 30%;

    @media only screen and (max-width: $tablet) {
      margin-left: 20%;
      margin-right: 20%;
    }

    @media only screen and (max-width: $mobile) {
      margin-left: 0%;
      margin-right: 0%;
    }

    .form {
      input {
        padding: 10px;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
        outline: none;
        appearance: none;
        width: 100%;
        box-sizing: border-box;
      }

      .example-full-width {
        width: 100%;
      }

      .autocomplete-result {

        display: grid;
        justify-content: center;


        .option-img {
          vertical-align: middle;
          height: 100%;
        }

        [dir='rtl'] .option-img {
          margin-right: 0;
          margin-left: 8px;
        }
      }


    }

  }

  .random-recipes-wrapper {
    h2 {
      text-align: center;
    }

  }


}
