// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$recipe-app-primary: mat-palette($mat-indigo);
$recipe-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$recipe-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$recipe-app-theme: mat-light-theme((color: (primary: $recipe-app-primary,
      accent: $recipe-app-accent,
      warn: $recipe-app-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($recipe-app-theme);

/* You can add global styles to this file, and also import other style files */

@import "./app/breakpoints.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.container {
  display: grid;
  background: #fafafa;
  padding-top: 3em;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 100px;

  @media only screen and (max-width: $desktop) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;

  @media only screen and (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
  }

}

$config: mat-get-color-config($recipe-app-theme);

a {
  //color: #FF3232;
  text-decoration: none;
}

h1 {
  text-decoration: none;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
